* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  background-color: #353535;
  color: white
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}

.container {
      position: relative; /* Adjust the width and height to fit your needs */
      column-count: 3;
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start;
    margin: 0px;
    padding: 0px;
      
}

.my-btn {
  background-color: #8075FF;
  color: white;
  border: none;
  border-radius: 20px;
  box-shadow: none;
  padding: 5px 15px;
  min-height: 30px;
  min-width: 120px;
  margin: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  overflow: hidden; /* Add overflow: hidden; to clip any content or backgrounds that exceed the button's boundaries */
  transition: background-color 0.7s ease; /* Add background-color transition for the button */
  text-align: center;
  /* Remove the underline from the link */
  text-decoration: none;
}



.my-btn:hover {
  animation: pulse 1s infinite;
  cursor: pointer;
}
@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fade-out {
  animation: fadeOut 0.5s forwards;
}

.fade-in {
  animation: fadeIn 0.5s forwards;
}